body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-image: url('./business-woman-hand-with-financial-charts-laptop-table.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 0;
    position: relative;
}

.navbar{
    overflow: hidden;
    background-color: #333;

}

.navbar a{
    float: left; 
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    color: white;
    font-size: 16px;

}

.dropdown{
    overflow: hidden;
    float: left;
}

.dropdown .dropbtn{

    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

}

.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: #28a745;
}

.dropdown-content{
    
    display: none;
    position: absolute;
    background-color: rgb(240, 255, 242);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.dropdown-content a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: rgb(173, 238, 187);
}


.dropdown:hover .dropdown-content{
       display: block; 
}

main {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 20px;
    box-sizing: border-box;
    gap: 20px; 
    position: relative; 
    min-height: calc(100vh - 300px);
}

.form-container,
.form-container2 {
    flex: 1; 
    max-width: 48%; 
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form input,
form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

form textarea {
    resize: vertical;
}

form button {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #28a745;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #28a745;
}

.buttons-container {
    display: flex;
    margin-top: 5px;
    justify-content: center; 
    gap: 20px; 
    position: absolute;
    bottom: -10px; 
    left: 0;
    right: 0;
}